
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas {
    border: 1px solid black;
    display: block;
    background-image: url(../images/background1.jpg);
    margin: 0 ;
}
